body{
    height: 100%;
    width: 100%;
    margin: 0;
}
.container{
    font-size: 45px;
    text-align: center;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 300px 300px 300px 300px ;
    grid-gap: 10px;
    padding: 65px;
    margin-left: auto;
    margin-right: auto;
    grid-template-areas:
                        "B C D D"
                        "I I I I"
                        "E F G H"
                        "J J K K"
}
.box1{
    width: 100%;
    height: 500px;
    background-color: black;
}
.box2{
    grid-area: B;
    background-color: red;

}
.box3{
    grid-area: C;
    background-color: gray;
}
.box4{
    grid-area: D;
    background-color: pink;

}
.box5{
    grid-area: I;
    background-color: orange;
}
.box6{
    grid-area: E;
    background-color: green;
}
.box7{
    grid-area: F;
    background-color: yellow;
}
.box8{
    grid-area: G;
    background-color: violet;
}
.box9{
    grid-area: H;
    background-color: turquoise;
}

.box10{
    grid-area: J;
    background-color: lightcoral;
}
.box11{
    grid-area: K;
    background-color: slateblue;
}
.box12{
    width: 100%;
    height: 300px;
    background-color: blue;
}